@using Brief.ViewModels
@using Microsoft.AspNetCore.Identity
@using Brief.Areas.Identity.Data
@using Microsoft.EntityFrameworkCore;

@model Brief.ViewModels.AdminVM

@inject SignInManager<BriefUser> SignInManager
@inject UserManager<BriefUser> UserManager

@{
    ViewData["Title"] = "Blog - Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<h2>Admin Page</h2>
<h6>Only Admin can view this page.</h6>
<br />
<br />
<h4>Recently Posted Blogs</h4>
<br />
<a class="btn btn-info text-white" asp-controller="Admin" asp-action="RecentlyPosted" style="color:black">View Recently Posted Blogs</a>

<br />
<br />
<h4>Recently Deleted Blogs</h4>
<br />
<a class="btn btn-info text-white" asp-controller="Admin" asp-action="RecentlyDeleted" style="color:black">View Recently Deleted Blogs</a>

<br />
<br />

<h4>Upgrade User to Admin Account</h4>
<form asp-controller="Admin" asp-action="MakeAdmin" asp-route-email=email>
    <label name="email" asp-for="users.Email">Email: </label>
    <input name="email" asp-for="users.Email" class="form-control" />
    <br />
    <button class="btn btn-danger" type="submit" asp-area="" asp-controller="Admin" asp-action="MakeAdmin">Make User an Admin</button>
</form>