@model PaginatedList<Brief.Models.Blog>
@{ ViewData["Title"] = "Home"; }

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<div>
    <h1 class="display-4 mb-4 text-center">Recent Blogs</h1>
</div>
