@using Microsoft.AspNetCore.Identity
@using Brief.Areas.Identity.Data

@inject SignInManager<BriefUser> SignInManager
@inject UserManager<BriefUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Blog" asp-action="Create">New Blog</a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="dropdown">
                <button data-toggle="dropdown" class="nav-dropdown text-light">
                    @UserManager.GetUserAsync(User).Result.FirstName
                </button>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="padding-bottom: 0; padding-top: 0;" asp-controller="Manage" asp-action="History" title="Blogs">My Blogs</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="padding-bottom: 0; padding-top: 0;" asp-controller="Manage" asp-action="Index" title="Manage">Manage</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item">
                        <form class="nav-item" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link text-dark mt-0" style="background-color:transparent; border:transparent; width: 100%; text-align:left; padding-bottom: 0; padding-top: 0;">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item text-light" style="border-right: solid 1px; padding-right: 1px;">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}