@model List<Brief.Models.Blog>
@{ ViewData["Title"] = "Home"; }

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<div>
    <h1 class="display-4 mb-4 text-center">Recent Blogs</h1>
</div>

<div>
    @foreach(var obj in Model)
    {
<div class="row mb-2">
    <div class="col-md-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static blog-tile-h">
                <h4 class="mb-0">Title: @obj.Title</h4>
                <div class="mb-1">Author: @obj.CreatorName</div>
                <div class="mb-1 text-muted">@obj.TimeCreated</div>
                <p class="mb-auto">@obj.Content</p>
            </div>
            <div class="card-footer bg-dark text-right" style="width: 100%">
                <a asp-area="" asp-controller="Blog" asp-action="Index" class="stretched-link text-white">Continue reading</a>
            </div>
        </div>
    </div>
    </div>}
</div>

<div>
    <nav class="m-0">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
        </ul>
    </nav>
</div>

<div class="clearfix"></div>
