@{
    ViewData["Title"] = "Home";
}

@{
    string welcomeMessage = "Recent Blogs";
}
<head>
    <link rel="stylesheet" href="~/css/testCSS.css" />
</head>

<a href="../Home/Privacy">
    <div class="new-blog">
    </div>
</a>


<div class="text-center">
    <h1 class="display-4"> @welcomeMessage</h1>
</div>

<section class="blog-preview-area">
    @for (int i = 0; i < 15; i++)
    {
    <div class="preview-block">
        <div class="preview-block-2">
            <div class="preview-header">
                First Blog
            </div>
            <div class="preview-body">
                At autem exerci aliquip stet ipsum lorem dolore diam nonummy nulla ut magna molestie dolore invidunt et euismod dolore vel
                At autem exerci aliquip stet ipsum lorem dolore diam nonummy nulla ut magna molestie dolore invidunt et euismod dolore vel
                At autem exerci aliquip stet ipsum lorem dolore diam nonummy nulla ut magna molestie dolore invidunt et euismod dolore vel
            </div>
            <div class="preview-footer">
                <a href="../blog/displayblog">Read More</a>
            </div>
        </div>

    </div>


    }
</section>

