.blog-tile-h {
   height: 350px;
}

.signin-form {
    padding:20px;
}

.signin-form .form-group {
    padding: 5px;
}

.signin-form input[type="text"]{
    padding: 8px;
    width: 100%;
}

.text-black {
    color: black;
}

.blog-textarea {
    resize: none;
    height: 1500px;
}

.search-form {
    width: 100%;
    padding: 5px;
}

.tag-container {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    border: solid 1px;
    border-color: gray;
    border-radius: 0.25rem;
}

.btn-tag {
    display: inline-block;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dc3545;
    border: 1px solid;
    border-color: #dc3545;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-tag:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.nav-dropdown {
    display: block;
    font-weight: 400;
    user-select: none;
    background-color: transparent;
    border: transparent;
    padding: 0.5rem 1rem;
}

.nav-dropdown:hover, .nav-dropdown:focus {
    color: #cbd3da !important;
    outline: 0;
    border: transparent;
}

.menu-item {

}
.menu-item:active {
    background-color:transparent;
}

.nav-btn {

}

.nav-btn:focus, .nav-btn:active {
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
}
