.tester {
   text-align:center;
}





/*@media (max-width:600px) {
    .size-tester {
        color: blue;
    }
}

@media (width: 768px) {
    .size-tester {
        color: green;
    }
}

@media (width: 992px) {
    .size-tester {
        color: yellow;
    }
}

@media (width: 1200px) {
    .size-tester {
        color: purple;
    }
}*/