.clr{
    clear:both;
}


.blog-preview-area {
    width: 100%;
}

.preview-block {
    width: 33.3%;
    height: 300px;
    float:left;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border: solid black 1px;*/
}
.preview-block-2 {
    display: block;
    position: relative;
    height: 300px;
    margin: 10px 10px 0 10px;
    border: solid #5e5c5c 1px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.preview-header {
    padding: 10px 10px 0 10px;
    font-weight: bold;
    font-size: 18px;
}
.preview-body {
    line-height:1.4;
    position: absolute;
    height: 210px;
    padding: 0 10px 0px 10px;
    overflow: hidden;
}
.preview-footer {
    width: 100%;
    text-align: right;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 5px 15px 5px 0;
    background-color: #5e5c5c;
    text-decoration: solid;
}

.preview-footer a{
    color:white;
}

.preview-footer a:hover {
    color: white;
}

.preview-footer a {
    color: white;
}

.preview-footer a {
    color: white;
}


.container {
    padding: 1px 1px 1px 1px;
   /* margin: 3px 3px 3px 3px;*/

}

.new-blog {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

    .new-blog::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        height: 5px;
        margin-top: -2.5px;
        top: 50%;
        left: 15px;
        right: 15px;
        z-index: 1;
    }

    .new-blog::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        width: 5px;
        margin-left: -2.5px;
        left: 50%;
        top: 15px;
        bottom: 15px;
        z-index: 1;
    }

@media (min-width: 576px) {
    .container {
        max-width: 90%;
    }
}