@*@model Brief.Controllers.BlogController*@
@{
    ViewBag.Title = "Blog Creation";
}

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<div class="container">
    <h1 class="mt-3">New Blog Entry</h1>
</div>

<hr />

<div class="container">
    <form id="blogCreation" asp-controller="Blog" asp-action="GetBlogDetails" method="post">
        <div class="form-group">
            <label class="control-label">Blog Title</label>
            <input class="form-control" name="txtTitle" />
        </div>
        <div class="form-group">
            <label class="control-label">Body</label>
            <textarea name="txtContent" type="text" class="form-control blog-textarea" rows="10"> </textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />

<h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>

