@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

@{
    string welcomeMessage = "Recent Blogs";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <h1 class="display-4"> @welcomeMessage</h1>
</div>

